*{
	margin: 0px;
	padding: 0px;
}

html {
	font-size: 16px;
	font-family: FontAwesome;

}

body{
	
    font-size: 20;
    line-height: 4.42857143;
    color: #333;
    background-color: #fff;

}

.Bemvindo{
	background: url('./imagens/slides/1.jpg');
	background-size: cover;
	height: 100vh;
	overflow: hidden;

}

.navbar-fixed-top{
	background: rgba(0,0,0,0.75);
}

.navbar-inverse .navbar-brand {
    color: rgba(157, 157, 157, 0);
    background: url('imagens/icones/logobranca.svg') no-repeat;
    background-size: contain;
    display: block;
    height: 50px;
	width: 232px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  color: rgba(255, 255, 255, 0.75); }

 .navbar-toggle {

   font-size: 1.6rem;
   color: #fff !important; 

}

.navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #333333;
}
.navbar-collapse.in {
    overflow-x: hidden;
}

.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
    padding: .4rem;
}

nav.navbar-inverse {
    padding: 15px 0px; 
    background: rgba(0, 0, 0, 0.6);
    border: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    text-transform: uppercase;
} 

.navbar-inverse .navbar-nav>li>a:hover {
    color: black;
    background: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: black;
    background-color: #FFFFFF;
}



#barra-navegacao{
	clear: both;

}

.texto-capa{
	color: #FFF;
	margin-top: 6rem;
	text-align: center;
 }
 .texto-capa h1{
  font-size: 4em;
 }

 .btn-custom{
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	margin: 0px 15px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;

}


.btn-branco{
    border: 2px solid white;
    color: white; 
    
}

.btn-branco:hover{
    background-color: white;
    color: black;
}

.btn-branco-fixo{
    border: 2px solid white;
    color: white; 
    margin-bottom: 3rem;
}

.btn-branco-fixo:hover{
    background-color: white;
    color: black;
}

#sobremim{
	background: rgb(49, 112, 143);
    color: #fff;

}
#sobremim img{
  padding-top: 2em;
}



.portfolio{
    background: #424141;
    color: #fff;
}

.portfolio a {
    display: block;
    overflow: hidden;
    margin-bottom: 1.5rem; }

.portfolio img {
   -webkit-transition: all .3s ease;
          transition: all .3s ease;
    min-width: 100%; }

.portfolio a:hover img {
   -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5); }


#rodape{
  color: white;
  background: black;
  text-transform: uppercase;
  padding-top: 2em;
} 
  footer a{color: white;
    text-decoration: none;
   }
  footer a:hover{
    color: white;
    text-decoration: none;
}
p{
	font-size: 1.3rem;
}

/************** Vesão tablet desktop******/
@media (min-width: 768px) {
  html {
    font-size: 16px; 
}

#barra-navegacao{
	clear: inherit;
}

.Bemvindo{
	background: url('./imagens/slides/1.jpg');
	background-size: cover;
	
}

.texto-capa{
	color: #FFF;
	margin-top: 9rem;
	text-align: center;
 }


h1{
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 10px;
}

h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

p{
  font-size: 25px;
}

#rodape{
	letter-spacing: -0.04em;
	margin-top: 3rem;
}

#rodape p {
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.09em;

}

#rodape a{
  padding-top: 3rem;
}


body{
	 line-height: 4.42857143;
}

}

